{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    {% for post in object_list %}
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'article-detail' post.pk %}">
            {{ post.title }} </a></h5>
            <small><em>{{ post.post_date }}</em></small>
            <p class="card-text">{{ post.author }}: {{ post.body|slice:":200" }}</p>
            <small>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        <a href="{% url 'update_post' post.pk %}">Edit</a>

                        <a href="{% url 'delete_post' post.pk %}">Delete</a>
                    {% endif %}
                 {% endif %}
            </small><br/>
        </div>
    </div>
    {% endfor %}

{% endblock %}